@font-face {
    font-family: 'Silkscreen';
    src: url('../static/slkscreb.ttf') format('truetype');
    font-display: swap;
}

body {
    font-family: 'Silkscreen', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.postimg.cc/4dYNzBRC/OIG1.jpg') center center fixed;
    background-size: cover;
}

header {
    background-color: #000;
    padding: 5px;
    text-align: center;
    color: #fff;
}

header img {
    max-width: auto;
    height: 80px;
    margin-bottom: 5px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #1a1a1a; /* Negro */
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sutil sombra */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #ff4d4d;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Silkscreen', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ff3333;
}

button:active {
    background-color: #cc0000;
}


.secret-menu-button {
    background-color: #ffd700; /* Golden color */
    color: #000;
    border: 2px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secret-menu-button:hover {
    background-color: #ffc700; /* Lighter golden color on hover */
}

.secret-menu-button:active {
    background-color: #ccaa00; /* Darker golden color on click */
}